<header>
    <div id="head-id" class="head">
        <div>
            <a href="/dashboard">
                <h1>To Do Dashboard</h1>
            </a>
        </div>
        <div class="head-btn">
            <a>
                <i class="fas fa-user fa-xs"></i>
                <%=userName%>
            </a>
            <a href="/logout">logout</a>
        </div>
    </div>
</header>