<footer>
    <div class="foot">
        <div>
            <p>Source code at Github</p>
        </div>
        <div>
            <p class="copyr">SM Bro's &copy;copyright</p>
        </div>
        <div>
            <p>
                <a>
                Github <i class="fab fa-github"></i></a></p>
        </div>
    </div>
</footer>