<footer>
    <div class="foot">
        <div>
            <p>smk11500@gmail.com</p>
        </div>
        <div>
            <p class="copyr">SM Bro's &copy;copyright</p>
        </div>
        <div>
            <p>
                <a href="https://github.com/MANOJ-KUMAR-2000">
                    Github <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>