<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="/assets/css/home_head_styles.css">
    <link rel="stylesheet" href="/assets/css/footer_styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

    <style>
        div {
            display: flex;
            justify-content: center;
        }
        
        spam {
            color: red;
            font-size: 52px;
        }
        
        h1 {
            margin-top: 64px;
        }
    </style>
</head>

<body>
    <%- include('../partials/home_header.ejs') %>
        <div>
            <h1>
                <spam>404</spam> Page not found</h1>
        </div>

        <%- include('../partials/footer.ejs') %>
</body>

</html>