<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Coming soon</title>

    <link rel="stylesheet" href="/assets/css/home_head_styles.css">
    <link rel="stylesheet" href="/assets/css/footer_styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


    <style>
        a {
            cursor: pointer;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
        }
        
        .cs {
            color: rgb(132, 0, 255);
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('../partials/dashboard_header.ejs') %>
        <h1 class="cs">COMING SOON !</h1>

        <%- include('../partials/footer.ejs') %>
</body>

</html>